.env
db-utils/samples

venv
.venv
__pycache__

temp

wasi-*/
wabt-*/

bin/
obj/

storage/

.devcontainer/

.DS_STORE

# Database files
*.db



.fake
# ---- Added 2025-09-17: ignore individual SDC template XMLs now present as untracked ----
# If you prefer to ignore the entire directory instead, replace the list with:
# sample_data/sdc_templates/
# (Kept explicit for clarity / possibility of keeping a curated subset tracked.)
sample_data/sdc_templates/Ampulla.Res.131_3.004.001.REL_sdcFDF.xml
sample_data/sdc_templates/Anus.AP.Res.134_4.000.001.REL_sdcFDF.xml
sample_data/sdc_templates/Anus.Bx.TDE.133_4.000.001.REL_sdcFDF.xml
sample_data/sdc_templates/Appendix.NET.Res.193_3.000.001.REL_sdcFDF.xml
sample_data/sdc_templates/BileDuctDE.Res.142_3.004.001.REL_sdcFDF.xml
sample_data/sdc_templates/BileDuctIH.Res.194_2.003.011.REL_sdcFDF.xml
sample_data/sdc_templates/BileDuctPH.Res.195_2.004.011.REL_sdcFDF.xml
sample_data/sdc_templates/Bladder.Bx.TURBT.202_1.007.001.REL_sdcFDF.xml
sample_data/sdc_templates/Bladder.Res.180_3.004.001.REL_sdcFDF.xml
sample_data/sdc_templates/Bone.Bx.136_2.008.001.REL_sdcFDF.xml
sample_data/sdc_templates/Bone.Res.138_3.004.021.REL_sdcFDF.xml
sample_data/sdc_templates/Breast.DCIS.Bx.360_1.002.011.REL_sdcFDF.xml
sample_data/sdc_templates/Breast.DCIS.Res.211_3.003.021.REL_sdcFDF.xml
sample_data/sdc_templates/Breast.Invasive.Bx.362_1.004.001.REL_sdcFDF.xml
sample_data/sdc_templates/Breast.Invasive.Res.189_4.009.021.REL_sdcFDF.xml
sample_data/sdc_templates/Breast.Phyllodes.547_1.001.011.REL_sdcFDF.xml
sample_data/sdc_templates/CentralNervousSystem.Bx.Res.551_1.000.000.REL_sdcFDF.xml
sample_data/sdc_templates/Cervix.Cone.LEEP.183_2.009.021.REL_sdcFDF.xml
sample_data/sdc_templates/Cervix.Trach.Hys.PlvEx.182_4.004.001.REL_sdcFDF.xml
sample_data/sdc_templates/ColoRectal.Bx.127_2.013.001.REL_sdcFDF.xml
sample_data/sdc_templates/ColoRectal.Res.126_3.008.001.REL_sdcFDF.xml
sample_data/sdc_templates/Colon.Bmk.228_1.002.001.REL_sdcFDF.xml
sample_data/sdc_templates/Colon.NET.Res.196_3.000.001.REL_sdcFDF.xml
sample_data/sdc_templates/DNA.MMR.Bmk.347_1.000.031.REL_sdcFDF.xml
sample_data/sdc_templates/Duod.Amp.NET.Res.342_2.000.001.REL_sdcFDF.xml
sample_data/sdc_templates/Esophagus.Res.141_3.003.021.REL_sdcFDF.xml
sample_data/sdc_templates/ExGonad.GCT.Bx.369_2.000.000.REL_sdcFDF.xml
sample_data/sdc_templates/ExGonad.GCT.Res.212_3.000.000.REL_sdcFDF.xml
sample_data/sdc_templates/Gallbladder.Res.144_3.003.011.REL_sdcFDF.xml
sample_data/sdc_templates/Gynecologic.Bmk.567_1.001.001.REL_sdcFDF.xml
sample_data/sdc_templates/HN.Bmk.522_1.001.001.REL_sdcFDF.xml
sample_data/sdc_templates/HN.Larynx.Bx.Res.205_3.006.001.REL_sdcFDF.xml
sample_data/sdc_templates/HN.MajorSalivary.Res.152_3.007.001.REL_sdcFDF.xml
sample_data/sdc_templates/HN.Nasal.Res.207_3.006.001.REL_sdcFDF.xml
sample_data/sdc_templates/HN.Oral.Res.206_3.008.001.REL_sdcFDF.xml
sample_data/sdc_templates/HN.Pharynx.Res.208_3.006.001.REL_sdcFDF.xml
sample_data/sdc_templates/HN.SCC.Res.549_1.000.011.REL_sdcFDF.xml
sample_data/sdc_templates/Heme.Lymphoid.Bx.Res.570_1.000.000.REL_sdcFDF.xml
sample_data/sdc_templates/Heme.Myeloid_Mixed_Amb.Bx.Res.571_1.000.011.REL_sdcFDF.xml
sample_data/sdc_templates/Heme.PlasmaCell_Immuno.Bx.Res.572_1.000.000.REL_sdcFDF.xml
sample_data/sdc_templates/IHC.Bmk.515_1.002.001.REL_sdcFDF.xml
sample_data/sdc_templates/Jejunum_Ileum.NET.Res.343_2.000.001.REL_sdcFDF.xml
sample_data/sdc_templates/Kidney.Bx.149_2.005.001.REL_sdcFDF.xml
sample_data/sdc_templates/Kidney.Res.150_3.004.011.REL_sdcFDF.xml
sample_data/sdc_templates/Kidney.Wilms.Bx.366_2.000.000.REL_sdcFDF.xml
sample_data/sdc_templates/Kidney.Wilms.Bx.Res.188_3.004.001.REL_sdcFDF.xml
sample_data/sdc_templates/Liver.HCC.Res.151_3.006.001.REL_sdcFDF.xml
sample_data/sdc_templates/Liver.Hepatoblastoma.Bx.363_2.000.000.REL_sdcFDF.xml
sample_data/sdc_templates/Liver.Hepatoblastoma.Bx.Res.147_4.000.000.REL_sdcFDF.xml
sample_data/sdc_templates/Lung.Bmk.227_2.001.011.REL_sdcFDF.xml
sample_data/sdc_templates/Lung.Res.119_3.008.011.REL_sdcFDF.xml
sample_data/sdc_templates/Neuroblastoma.Bx.364_2.000.000.REL_sdcFDF.xml
sample_data/sdc_templates/Neuroblastoma.Res.153_4.000.000.REL_sdcFDF.xml
sample_data/sdc_templates/Ovary_FT_Perit.Bx.Res.336_1.007.001.REL_sdcFDF.xml
sample_data/sdc_templates/PNET_Ewing.Bx.209_3.000.000.REL_sdcFDF.xml
sample_data/sdc_templates/PNET_Ewing.Res.161_3.000.000.REL_sdcFDF.xml
sample_data/sdc_templates/Panc.Endo.Bx.Res.156_4.000.001.REL_sdcFDF.xml
sample_data/sdc_templates/Panc.Exo.Bx.Res.157_3.004.032.REL_sdcFDF.xml
sample_data/sdc_templates/Penis.Bx.Res.210_3.004.001.REL_sdcFDF.xml
sample_data/sdc_templates/PleuraPericard.Res.160_3.003.011.REL_sdcFDF.xml
sample_data/sdc_templates/Prostate.Needle.Case.Bx.507_1.001.001.REL_sdcFDF.xml
sample_data/sdc_templates/Prostate.Needle.Specimen.Bx.508_1.001.001.REL_sdcFDF.xml
sample_data/sdc_templates/Prostate.Res.128_3.006.001.REL_sdcFDF.xml
sample_data/sdc_templates/Prostate.TURP.190_2.010.001.REL_sdcFDF.xml
sample_data/sdc_templates/Retinoblastoma.163_3.002.021.REL_sdcFDF.xml
sample_data/sdc_templates/Rhabdomyosarcoma.Bx.365_2.000.000.REL_sdcFDF.xml
sample_data/sdc_templates/Rhabdomyosarcoma.Res.164_4.000.000.REL_sdcFDF.xml
sample_data/sdc_templates/Skin.Inv_Melanoma.Bx.578_1.000.000.REL_sdcFDF.xml
sample_data/sdc_templates/Skin.Inv_Melanoma.Res.579_1.000.000.REL_sdcFDF.xml
sample_data/sdc_templates/Skin.Melanoma.Bmk.253_1.000.022.REL_sdcFDF.xml
sample_data/sdc_templates/Skin.Merkel.Res.198_2.003.001.REL_sdcFDF.xml
sample_data/sdc_templates/Small_Int.Res.166_3.003.011.REL_sdcFDF.xml
sample_data/sdc_templates/Soft.Tissue.Bx.167_2.008.011.REL_sdcFDF.xml
sample_data/sdc_templates/Soft.Tissue.Res.168_3.004.021.REL_sdcFDF.xml
sample_data/sdc_templates/Stomach.GIST.Bmk.242_1.003.001.REL_sdcFDF.xml
sample_data/sdc_templates/Stomach.GIST.Bx.197_2.009.001.REL_sdcFDF.xml
sample_data/sdc_templates/Stomach.GIST.Res.145_3.005.001.REL_sdcFDF.xml
sample_data/sdc_templates/Stomach.HER2.Bmk.223_1.003.001.REL_sdcFDF.xml
sample_data/sdc_templates/Stomach.NET.Res.201_3.000.001.REL_sdcFDF.xml
sample_data/sdc_templates/Stomach.Res.170_3.006.001.REL_sdcFDF.xml
sample_data/sdc_templates/Testis.RO.171_3.005.001.REL_sdcFDF.xml
sample_data/sdc_templates/Testis.RPL.172_3.004.011.REL_sdcFDF.xml
sample_data/sdc_templates/Thymus.Res.174_3.003.021.REL_sdcFDF.xml
sample_data/sdc_templates/Thyroid.Bmk.255_1.001.001.REL_sdcFDF.xml
sample_data/sdc_templates/Thyroid.Res.175_4.005.001.REL_sdcFDF.xml
sample_data/sdc_templates/Trophoblast.Res.DC.176_3.002.021.REL_sdcFDF.xml
sample_data/sdc_templates/Tumor.Bx.326_1.001.001.REL_sdcFDF.xml
sample_data/sdc_templates/Tumor.Res.312_1.002.021.REL_sdcFDF.xml
sample_data/sdc_templates/UreterRenalPelvis.Bx.179_3.003.001.REL_sdcFDF.xml
sample_data/sdc_templates/UreterRenalPelvis.Res.337_3.005.001.REL_sdcFDF.xml
sample_data/sdc_templates/Urethra.Bx.204_1.008.001.REL_sdcFDF.xml
sample_data/sdc_templates/Urethra.Res.203_3.006.001.REL_sdcFDF.xml
sample_data/sdc_templates/Uterus.Hys.Bx.117_4.000.001.REL_sdcFDF.xml
sample_data/sdc_templates/Uterus.Sarc.Res.216_2.005.001.REL_sdcFDF.xml
sample_data/sdc_templates/Uvea.Mel.Res.184_3.002.021.REL_sdcFDF.xml
sample_data/sdc_templates/Vagina.Bx.185_2.004.001.REL_sdcFDF.xml
sample_data/sdc_templates/Vagina.Res.186_3.006.031.REL_sdcFDF.xml
sample_data/sdc_templates/Vulva.Res.187_4.000.001.REL_sdcFDF.xml
sample_data/sdc_templates/sdctemplate.xslt


